.text {
    color: #fff;
    font-size: 200%;
    text-align: center;
    font-family: Inter;
    margin: 4rem;
}

.title {
    color: #fff;
    font-family: Potra;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 500%;
    border-bottom: 5px solid rgb(2, 204, 255);
    margin: 3rem 30rem 5rem 30rem;
    animation: blinkLights ease 3s;
    animation-iteration-count: infinite;
}

.cardSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 5rem;
}

@media screen and (max-width: 1025px) {
    .title {
        font-size: 250%;
        margin: 2rem;
        border: none;
        box-shadow: none;
        border-radius: 0;
        border-bottom: 2px solid rgb(8, 185, 224);
    }

    .text {
        font-size: 170%;
        margin: 0;
        margin-bottom: 2rem;
        
    }

    .subtext {
        margin: 2.5rem;
        margin-top: 0;
        font-size: 110%;
    }

    .prizeCard {
        margin: 2.5rem;
        margin-bottom: 2rem;
    }

    .prizes {
        grid-template-areas: 
            "prize1"
            "prize2"
            "prize3"
            "prize4"
            "prize5"
            "prize6";
    }

    .desc {
        margin: 0;
    }
}

@keyframes blinkLights {
    0% {
        color:rgb(51, 50, 50);
    }

    6% {
        color:rgb(255, 2, 150);
        text-shadow: 5px 5px 40px rgb(255, 2, 150);
    }
    8% {
        color:rgb(51, 50, 50);
    }
    10% {
        color:rgb(255, 2, 150);
        text-shadow: 5px 5px 40px rgb(255, 2, 150);
    }
   
    100% {
        color:rgb(255, 2, 150);
        text-shadow: 5px 5px 40px rgb(255, 2, 150);
    }

}