@font-face {
    font-family: "Inter";
    src: url("../styles/Inter/static/Inter-Medium.ttf");
}

@font-face {
    font-family: "Potra";
    src: url("../styles/Potra/Potra.otf") format("opentype");
}

.navbar {
    width: 100%;
    font-family: "Inter";
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 99000;
}

.logo {
    font-family: "Potra";
    font-size: 180%;
    transition: 115ms ease;
}

.logo:hover {
    color: rgb(255, 2, 150);
}

@media screen and (max-width: 1025px) {
    .logo {
        font-size: 100%;
    }

    .navbar {
        display: none;
    }
}