@font-face {
    font-family: "Inter";
    src: url("../styles/Inter/static/Inter-Medium.ttf");
}

@font-face {
    font-family: "Potra";
    src: url("../styles/Potra/Potra.otf") format("opentype");
}

.navbar {
    font-family: "Inter";
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Potra";
    max-width: 32%;
    
}
