@font-face {
    font-family: "Inter";
    src: url("../styles/Inter/static/Inter-Medium.ttf");
}

@font-face {
    font-family: "Potra";
    src: url("../styles/Potra/Potra.otf") format("opentype");
}

.navbar {
    font-family: "Inter";
}

.logo {
    font-family: "Potra";
    max-width: 32%;
}

img.logo {
    border: 1px solid rgb(136, 136, 136);
    border-radius: 50%;
}
