.background {
    background-color: #000000;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.title {
    color: rgb(255, 2, 150);
    font-family: Potra;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 500%;
    border-bottom: 5px solid rgb(2, 204, 255);
    margin-left: 30rem;
    margin-right: 30rem;
    margin-top: 4rem;
    margin-bottom: 5rem;
    animation: blinkLights ease 3s;
    animation-iteration-count: infinite;
}

.text {
    color: rgb(2, 204, 255);
    font-size: 300%;
    text-align: center;
    font-family: Potra;
    margin: 4rem;
    margin-bottom: 1rem;
    animation: blinkLightsName ease 3s;
    animation-iteration-count: infinite;
}

.subtext {
    color: #fff;
    font-size: 140%;
    font-family: Inter;    
    margin: auto;
    text-align: center;
    margin-bottom: 4rem;
}

.teamShowcase {
    display: grid;
    grid-template-areas: 
        "member1 member2 member3"
        "member4 member5 member6";
}

.memberImage {
    margin: auto;
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

.member5 {
    grid-area: member5;
}

.buttonDiv {
    text-align: center;
    margin-top: 3rem;
}

.btn {
    display: inline-block;
    width: 180px;
    padding: 8px 0;
    background: transparent;
    border: 1px solid rgb(2, 204, 255);
    border-radius: 9px;
    color: white;
    margin-top: 2rem;
    margin-bottom: 3rem;
    transition: 200ms ease;
    box-sizing: border-box;
}

.btn:hover {
    background: rgb(2, 204, 255);
    outline: none;
}

@media screen and (max-width: 1025px) {
    .title {
        font-size: 250%;
        margin: 2rem;
        border: none;
        box-shadow: none;
        border-radius: 0;
        border-bottom: 2px solid rgb(8, 185, 224);
        margin-bottom: 4rem;
    }

    .text {
        margin-top: 1rem;
    }

    .teamShowcase {
        grid-template-areas: 
            "member1"
            "member2"
            "member3"
            "member4"
            "member5"
            "member6";
    }

    .memberImage {
        width: 200px;
        height: 200px;
    }

    .subtext {
        font-size: 120%;
    }
}

@keyframes blinkLights {
    0% {
        color:rgb(51, 50, 50);
    }

    6% {
        color:rgb(255, 2, 150);
        text-shadow: 5px 5px 40px rgb(255, 2, 150);
    }
    8% {
        color:rgb(51, 50, 50);
    }
    10% {
        color:rgb(255, 2, 150);
        text-shadow: 5px 5px 40px rgb(255, 2, 150);
    }
   
    100% {
        color:rgb(255, 2, 150);
        text-shadow: 5px 5px 40px rgb(255, 2, 150);
    }

}

@keyframes blinkLightsName {
    0% {
        color:rgb(51, 50, 50);
    }

    6% {
        color:rgb(8, 185, 224);
        text-shadow: 5px 5px 40px rgb(8, 185, 224);
    }
    8% {
        color:rgb(51, 50, 50);
    }
    10% {
        color:rgb(8, 185, 224);
        text-shadow: 5px 5px 40px rgb(8, 185, 224);
    }
   
    100% {
        color:rgb(8, 185, 224);
        text-shadow: 5px 5px 40px rgb(8, 185, 224);
    }

}