.background {
    background-color: #000000;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.title {
    color: rgb(255, 2, 150);
    font-family: Potra;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 500%;
    border-bottom: 5px solid rgb(2, 204, 255);
    margin-left: 30rem;
    margin-right: 30rem;
    margin-top: 4rem;
    animation: blinkLights ease 3s;
    animation-iteration-count: infinite;
}

.text {
    color: #fff;
    font-size: 200%;
    text-align: center;
    font-family: Inter;
    margin: 4rem;
}