@font-face {
    font-family: "Potra";
    src: url("../styles/Potra/Potra.otf") format("opentype");
}

@font-face {
    font-family: "Inter";
    src: url("../styles/Inter/static/Inter-Light.ttf");
}

.background {
    background-color: #000000;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.title {
    color: #fff;
    font-family: Potra;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 700%;
    border-radius: 15px;
    border: 5px solid rgb(255, 2, 150);
    box-shadow: 5px 5px 40px rgb(255, 2, 150);
    margin-left: 15rem;
    margin-right: 15rem;
    margin-top: 3rem;
    animation: blinkLights ease 3s;
    animation-iteration-count: infinite;
}

.logo {
    margin: auto;
    max-width: 60%;
}

.text {
    color: #fff;
    font-size: 200%;
    text-align: center;
    font-family: Inter;
    margin: 4rem;
}

.btn {
    display: block;
    width: 150px;
    padding: 8px 0;
    background: transparent;
    border: 1px solid rgb(8, 185, 224);
    border-radius: 9px;
    color: white;
    margin: auto;
    margin-top: 5rem;
    transition: 200ms ease;
}

.btn:hover {
    background: rgb(8, 185, 224);
    outline: none;
}

@media screen and (max-width: 800px) {
    .title {
        font-size: 250%;
    }

    .logo {
        margin-top: 4rem;
        max-width: 100%;
    }
    
    .text {
        margin-top: 7rem;
        margin-bottom: 5rem;
        font-size: 100%;
    }

    .btn {
        width: 100px;
    }
}

@keyframes blinkLights {
    0% {
        text-shadow: 0;
        color:rgb(51, 50, 50);
        border: 5px solid rgb(51, 50, 50);
        box-shadow: 5px 5px 40px rgb(51, 50, 50);
    }

    6% {
        text-shadow: 5px 5px 40px rgb(2, 204, 255);
        color:rgb(2, 204, 255);
        border: 5px solid rgb(255, 2, 150);
        box-shadow: 5px 5px 40px rgb(255, 2, 150);
    }
    8% {
        text-shadow: 0;
        color:rgb(51, 50, 50);
        border: 5px solid rgb(51, 50, 50);
        box-shadow: 5px 5px 40px rgb(51, 50, 50);
    }
    10% {
        text-shadow: 5px 5px 40px rgb(2, 204, 255);
        color:rgb(2, 204, 255);
        border: 5px solid rgb(255, 2, 150);
        box-shadow: 5px 5px 40px rgb(255, 2, 150);
    }
   
    100% {
        text-shadow: 5px 5px 40px rgb(2, 204, 255);
        color:rgb(2, 204, 255);
        border: 5px solid rgb(255, 2, 150);
        box-shadow: 5px 5px 40px rgb(255, 2, 150);
    }

}